<!doctype html>
<html lang="ko">

<head>
	<meta charset="utf-8" />
	<title>Buttons | 원주미래산업진흥원 스타일가이드</title>
	<meta http-equiv="X-UA-Compatible" content="ie=edge chrome=1" />
	<meta name="viewport"
		content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta name="keywords" content="프로젝트가이드, 원주미래산업진흥원 스타일가이드" />
	<meta name="description" content="프로젝트가이드, 원주미래산업진흥원 스타일가이드" />
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/WFI.css" />

	<script src="../../assets/js/libs/jquery.min.js"></script>
	<script src="../../assets/js/libs/librurys.min.js"></script>
	<script src="../../assets/js/ui/ui.common.js"></script>
	<script src="../../assets/js/ui/ui.publish.js"></script><!-- 퍼블리싱 인크루드 설정용도(개발적용안함) -->
	<link rel="stylesheet" type="text/css" href="css/guide.css" /><!-- 가이드전용 -->
</head>

<body>
	<div class="wrapper sub_page">
		<!-- Header -->
		<div data-include="include_header.html"></div>
		<!-- // Header -->

		<!-- Container -->
		<div class="container">
			<main id="content" class="content" role="main">
				<div class="content-body out-sec">
					<div class="in-sec">
						<h1 class="g-h1">Buttons</h1>
					</div>
					<!-- Section -->
					<section class="g-section in-sec">
						<div class="g-section-head">
							<h2 class="g-h2">btn-basic</h2>
						</div>
						<div class="g-section-body">
							<p class="g-desc">가로사이즈 및 예외처리는 컨텐츠에서 조정한다.</p>

							<!-- 72 Size -->
							<h3 class="g-h3">xxl - 72/56 Size</h3>
							<button type="button" class="btn-basic h-72">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-72" disabled>
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-72 primary">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-72 primary" disabled>
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-72 icn-arrow">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-72 primary icn-arrow">
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-72 icn-arrow" disabled>
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-72 primary icn-arrow" disabled>
								<span>Button</span>
							</button>

							<!-- 56 Size -->
							<h3 class="g-h3">xl - 56/48 Size</h3>
							<button type="button" class="btn-basic h-56">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-56" disabled>
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-56 primary">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-56 primary" disabled>
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-56 icn-arrow">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-56 primary icn-arrow">
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-56 icn-arrow" disabled>
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-56 primary icn-arrow" disabled>
								<span>Button</span>
							</button>
							<!-- // 56 Size -->

							<!-- 48 Size -->
							<h3 class="g-h3">xm - 48/40 Size</h3>
							<button type="button" class="btn-basic h-48">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-48" disabled>
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-48 primary">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-48 primary" disabled>
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-48 icn-arrow">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-48 primary icn-arrow">
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-48 icn-arrow" disabled>
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-48 primary icn-arrow" disabled>
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-48 black">
								<span>Button</span>
							</button>

							<!-- // 48 Size -->

							<!-- 40 Size -->
							<h3 class="g-h3">xs - 40/32 Size</h3>
							<button type="button" class="btn-basic h-40">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-40" disabled>
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-40 primary">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-40 primary" disabled>
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-40 icn-arrow">
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-40 primary icn-arrow">
								<span>Button</span>
							</button>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<button type="button" class="btn-basic h-40 icn-arrow" disabled>
								<span>Button</span>
							</button>
							<button type="button" class="btn-basic h-40 primary icn-arrow" disabled>
								<span>Button</span>
							</button>
							<!-- // 40 Size -->

							<!-- fluid -->
							<h3 class="g-h3">fluid - width 100%</h3>
							<button type="button" class="btn-basic h-72 primary fluid">
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-56 primary fluid">
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-48 primary fluid">
								<span>Button</span>
							</button>
							<br><br>
							<button type="button" class="btn-basic h-40 primary fluid">
								<span>Button</span>
							</button>
							<!-- // fluid -->
						</div>
					</section>
					<!-- // Section -->
				</div>
			</main>
		</div>
		<!-- // Container -->

		<!-- Footer -->
		<div data-include="include_footer.html"></div>
		<!-- // Footer -->
	</div>
</body>

</html>