<div class="footer-sec">
	<div class="footer-logo">
		<span class="blind">WFI (재)원주미래산업진흥원</span>
	</div>

	<div class="footer-nav">
		<ul>
			<li><a href="../comm/terms.html" class="nav-link">이용약관</a></li>
			<li><a href="../comm/terms.html" class="nav-link">이메일무단수집거부</a></li>
			<li><a href="../comm/policy.html" class="nav-link bold">개인정보처리방침</a></li>
		</ul>
	</div>

	<div class="footer-contact">
		<ul>
			<li>주소 : 강원 원주시 마재2로 10 2층 (재)원주미래산업진흥원​</li>
			<li>이사장 : 원강수​</li>
			<li>대표번호 : 000-0000-0000​</li>
		</ul>
	</div>

	<div class="footer-copyright">
		<p>Copyright ⓒ wfi. All rights reserved.</p>
	</div>
</div>
<div class="topBtn">
	<a href="#" class="btn_top">
		<img src="../../assets/images/main/icn-48-topbtn.svg" alt="">
		<!-- <img class="hover" src="../../assets/images/main/icn-48-topbtn.svg" alt=""> -->
		<span class="blind">TOP</span>
	</a>
</div>