<div class="footer-sec">
	<div class="footer-logo">
		<span class="blind">WFI (재)원주미래산업진흥원</span>
	</div>

	<div class="footer-nav">
		<ul>
			<li><a href="../comm/terms.html" class="nav-link">이용약관</a></li>
			<li><a href="javascript:void(0)" class="nav-link" id="emailPolicyModalLink" data-bs-toggle="modal" data-bs-target="#emailPolicyModal">이메일무단수집거부</a></li>
			<li><a href="../comm/policy.html" class="nav-link bold">개인정보처리방침</a></li>
		</ul>
	</div>

	<div class="footer-contact">
		<ul>
			<li>주소 : 강원 원주시 마재2로 10 2층 (재)원주미래산업진흥원​</li>
			<li>이사장 : 원강수​</li>
			<li>대표번호 : 000-0000-0000​</li>
		</ul>
	</div>

	<div class="footer-copyright">
		<p>Copyright ⓒ wfi. All rights reserved.</p>
	</div>
</div>
<div class="topBtn">
	<a href="#" class="btn_top">
		<img src="../../assets/images/main/icn-48-topbtn.svg" alt="">
		<!-- <img class="hover" src="../../assets/images/main/icn-48-topbtn.svg" alt=""> -->
		<span class="blind">TOP</span>
	</a>
</div>

	<div class="modal fade policy-modal" id="emailPolicyModal" tabindex="-1" role="dialog" aria-labelledby="emailPolicyModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-basic">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title blind" id="emailPolicyModalLabel">이메일무단수집거부</h1>
					<button type="button" class="ui-btn btn-close" data-bs-dismiss="modal" aria-label="Close"><span class="blind">닫기</span></button>
				</div>
				<div class="modal-body">
					<div class="text-content">
						<p class="bold">원주미래산업진흥원 이메일무단수집거부</p>
						<p>본 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치를 이용하여 무단으로 수집되는 것을 거부하며 이를 위반 시 정보통신방법에 의해 형사처벌됨을 유념하시기 바랍니다.</p>
					</div>
				</div>
				<div class="modal-footer">
					<div class="btn-wrap">
						<button type="button" class="btn-basic h-56 primary center-w200" data-bs-dismiss="modal">
							<span>확인</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
