@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 공통 컨텐츠
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 게시판
-------------------------------------------------------------------*/
/* 게시판 목록 */
.board-list-wrap {
	.board-toolbar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 24rem;
		.board-count {
			font-weight: 400;
			font-size: 18rem;
			line-height: 28rem;
			em {
				color: $color-primary;
			}
			strong {
				font-weight: 700;
			}
		}
		.board-srch {
			display: flex;
			gap: 8rem;
			margin-left: auto;
			.frm-sel {
				width: 120rem;
			}
			.frm-inp {
				width: 368rem;
			}
		}
	}

	.board-list {
		table {
			table-layout: fixed;
			border-collapse: collapse;
			border-top: 1px solid #000000;
			border-bottom: 1px solid #EAEAEA;

			// 공통
			th, td {
				padding: 12rem 12rem;
				height: 88rem;
				vertical-align: middle;
				text-align: center;
			}
			th {
				font-weight: 500;
				font-size: 18rem;
				line-height: 28rem;
			}
			td {
				border-top: 1px solid #EAEAEA;
				font-size: 18rem;
				line-height: 28rem;
				color: #666666;
			}

			// 컨텐츠
			.tbl-no {
				p.noti {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: rgba(186, 20, 26, 0.08);
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: $color-primary;
				}
			}
			.tbl-case {
				p.accepting {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: rgba(13, 85, 209, 0.08);
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: #0D55D1;
				}
				p.deadline {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: #EAEAEA;
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: #666666;
				}
				p.expected {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: rgba(217, 30, 139, 0.08);
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: #D91E8B;
				}
			}
			.tbl-tit {
				text-align: left;
				p {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 8rem;
					overflow: hidden;
					width: 100%;

					.link {
						display: block;
						width: auto;
						overflow: hidden;
						font-weight: 500;
						color: #000000;
						@include ellipsis1;
						&:hover,
						&:active,
						&:focus-visible {
							color: $color-primary;
							text-decoration: underline;
							text-underline-position: under;
						}
						.value {
							color: $color-primary;
						}
					}
					.file {
						display: block;
						flex: none;
						width: 20rem;
						height: 20rem;
						background: url('../images/common/icn-20-clip-gr.svg') no-repeat center center / contain;
					}
				}
			}

			.tbl-writer {
				p {
					@include ellipsis1;
				}
			}
			/* 결과없음 */
			.no-list {
				padding: 148rem 0 60rem;
				background: url(../../assets/images/common/icn-80-nolist.svg) no-repeat 50% 60rem;
				background-size: 80rem;
				p {
					font-size: 18rem;
					line-height: 28rem;
					color: #000;
				}
			}
		}
		.gallery-board {
			.gallery-board-list {
				display: grid;
				width: 100%;
				grid-template-columns: repeat(auto-fit, minmax(23%, auto));
				gap: 60rem 28rem;
				li {
					a {
						.img-wrap {
							overflow: hidden;
							width: 100%;
							height: 220rem;
							img {
								object-fit: cover;
								object-position: center center;
								width: 100%;
							}
						}
						.cont-wrap {
							width: 100%;
							height: 148rem;
							padding: 28rem;
							background: #fff;
							.title {
								display: block;
								height: 56rem;
								font-size: 20rem;
								line-height: 28rem;
								font-weight: 700;
								color: #000;
								@include ellipsis2;
							}
							.date {
								display: block;
								font-size: 16rem;
								line-height: 24rem;
								color: #666;
								margin-top: 12rem;
							}
						}
					}
				}
			}
		}
	}

	.board-page {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		margin-top: 48rem;

		button {
			@include btn-default;
			flex: none;
			width: 48rem;
			height: 48rem;
			border-radius: 50%;
			transition: all 0.2s ease;
			font-weight: 400;
			font-size: 16rem;
			line-height: 24rem;
			color: #000000;

			&:hover,
			&:active {
				background-color: #EAEAEA;
			}

			&.is-current {
				background-color: $color-primary;
				font-weight: 700;
				color: #fff;
			}

			&.btn-page-first,
			&.btn-page-prev,
			&.btn-page-next,
			&.btn-page-last {
				mask-repeat: no-repeat;
				mask-position: center center;
				mask-size: auto;
				background-color: #000000;
				&:disabled {
					background-color: #BEBEBE;
				}
			}
			&.btn-page-first {
				mask-image: url('../images/common/icn-24-page-first.svg');
			}

			&.btn-page-prev {
				margin-right: 16rem;
				mask-image: url('../images/common/icn-24-page-prev.svg');
			}

			&.btn-page-next {
				margin-left: 16rem;
				mask-image: url('../images/common/icn-24-page-next.svg');
			}

			&.btn-page-last {
				mask-image: url('../images/common/icn-24-page-last.svg');
			}
		}
	}

	// 기능별 반응형 대응
	@include media-tablet-xs {
		.board-toolbar {
			flex-direction: column;
			align-content: flex-start;
			align-items: flex-start;
			margin-bottom: 16rem;
			.board-count {
				order: 2;
				margin-top: 16rem;
				font-size: 14rem;
				line-height: 20rem;
			}
			.board-srch {
				width: 100%;
				order: 1;
				.frm-sel {
					flex: none;
					width: 100rem;
					min-width: 100rem;
				}
				.frm-inp {
					flex: 1 1 auto;
					width: auto;
				}
			}
		}
		.board-list {
			table {
				display: block;
				border-bottom: 0;

				// 공통
				thead {
					display: none;
				}
				tbody {
					display: block;
				}
				tr {
					display: flex;
					flex-wrap: wrap;
					padding: 20rem 8rem;
					border-bottom: 1px solid #EAEAEA;
				}
				th, td {
					display: block;
					max-width: 100%;
					height: auto;
					overflow: hidden;
					padding: 0;
					text-align: left;
				}
				td {
					position: relative;
					border-top: 0;
					font-size: 12rem;
					line-height: 16rem;
					color: #666666;
				}

				// 컨텐츠
				.tbl-no {
					width: 100%;
					p {
						&:not(.noti) {
							display: none;
						}
						&.noti {
							margin-bottom: 8rem;
							padding: 2rem 6rem;
							border-radius: 4rem;
							font-size: 12rem;
							line-height: 16rem;
						}
					}
				}
				.tbl-case {
					margin-bottom: 8rem;
					p.accepting {
						display: inline-flex;
						padding: 2rem 6rem;
						background-color: rgba(13, 85, 209, 0.08);
						border-radius: 4rem;
						font-weight: 700;
						font-size: 10rem;
						line-height: 16rem;
						color: #0D55D1;
					}
					p.deadline {
						display: inline-flex;
						padding: 2rem 6rem;
						background-color: #EAEAEA;
						border-radius: 4rem;
						font-weight: 700;
						font-size: 10rem;
						line-height: 16rem;
						color: #666666;
					}
					p.expected {
						display: inline-flex;
						padding: 2rem 6rem;
						background-color: rgba(217, 30, 139, 0.08);
						border-radius: 4rem;
						font-weight: 700;
						font-size: 10rem;
						line-height: 16rem;
						color: #D91E8B;
					}
				}

				.tbl-tit {
					width: 100%;
					margin-bottom: 4rem;
					text-align: left;
					p {
						gap: 4rem;
						align-items: flex-start;

						.link {
							font-weight: 500;
							font-size: 16rem;
							line-height: 24rem;
							white-space: normal;
							word-break: keep-all;
							word-wrap: break-word;
							@include ellipsis2;
						}
						.file {
							position: relative;
							top: 4rem;
							width: 16rem;
							height: 16rem;
							background: url('../images/common/icn-20-clip-gr.svg') no-repeat center center / contain;
						}
					}
				}

				.tbl-writer {
					max-width: calc(100% - 150rem);

					&,
					& + td {
						margin-right: 9rem;
						padding-right: 11rem; // 점이 위치할 공만만큼 더 주기
					}
					&::after,
					& + td::after {
						content:'';
						position: absolute;
						right: 0;
						top: 7rem;
						display: block;
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
						background-color: #666;
					}
					&:last-child {
						&::after {
							display: none;
						}
					}

					p {
						@include ellipsis1;
					}
				}

				.tbl-views {
					padding-left: 20rem;
					&::before {
						content:'';
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 16rem;
						height: 16rem;
						background: url('../images/common/icn-16-views-gr.svg') no-repeat center center / contain;
					}
				}

				.no-list {
					padding: 108rem 0 40rem;
					background: url(../../assets/images/common/icn-80-nolist.svg) no-repeat 50% 40rem;
					background-size: 60rem;
					vertical-align: middle;
					text-align: center;
					width: 100%;
					p { 
						font-size: 14rem;
						line-height: 20rem;
						color: #000;
					}
				}
			}
			.gallery-board {
				.gallery-board-list {
					display: grid;
					width: 100%;
					grid-template-columns: repeat(1, 1fr);
					gap: 20rem;
					li {
						a {
							.img-wrap {
								width: 100%;
								height: 220rem;
								img {
									width: 100%;
								}
							}
							.cont-wrap {
								width: 100%;
								height: 120rem;
								padding: 28rem;
								background: #fff;
								.title {
									display: block;
									height: 48rem;
									font-size: 16rem;
									line-height: 24rem;
									font-weight: 700;
									color: #000;
									@include ellipsis2;
								}
								.date {
									display: block;
									font-size: 12rem;
									line-height: 16rem;
									color: #666;
									margin-top: 8rem;
								}
							}
						}
					}
				}
			}
		}
		.board-page {
			margin-top: 32rem;
			button {
				width: 32rem;
				height: 32rem;
				font-size: 14rem;
				line-height: 20rem;
				&.btn-page-first {
					mask-image: url('../images/common/icn-16-page-first.svg');
				}

				&.btn-page-prev {
					mask-image: url('../images/common/icn-16-page-prev.svg');
				}

				&.btn-page-next {
					mask-image: url('../images/common/icn-16-page-next.svg');
				}

				&.btn-page-last {
					mask-image: url('../images/common/icn-16-page-last.svg');
				}
			}
		}
	}
}

/* 게시판 상세 */
.board-view-wrap {
	.board-view {
		.board-view-cont {
			border-top: 1px solid #000;
			.file-area {
				padding: 24rem;
				border-bottom: 1px solid #EAEAEA;
				.link-item {
					a {
						position: relative;
						font-size: 18rem;
						line-height: 28rem;
						color: #666;
						padding-left: 26rem;
						&::before {
							content: '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							display: inline-block;
							width: 20rem;
							height: 20rem;
							background: url(../../assets/images/common/icn-16-clip-gr.svg) no-repeat;
							background-size: 100%;
						}
						&:hover {
							color: $color-primary;
							text-decoration: underline;
						}
						+ .link-item {
							margin-top: 8rem;
						}
					}
				}
			}
			.view-area {
				padding: 64rem 24rem;
				border-bottom: 1px solid #EAEAEA;
				.cont {
					font-size: 18rem;
					line-height: 28rem;
					color: #333;
				}
			}
			.btn-list {
				width: 160rem;
				height: 48rem;
				margin: 32rem auto 60rem;
				a {
					display: block;
					border-radius: 4rem;
					background: $color-primary;
					color: #fff;
					text-align: center;
					line-height: 48rem;
					font-size: 14rem;
					font-weight: 700;
				}
			}
		}
	}
	.board-view-page {
		.pager {
			display: flex;
			align-items: center;
			width: 100%;
			height: 88rem;
			background: #fff;
			.prev-view {
				padding: 47rem 32rem;
				.txt {
					position: relative;
					font-size: 16rem;
					line-height: 24rem;
					padding-left: 32rem;
					color: #666;
					&::after {
						content:  '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 24rem;
						height: 24rem;
						background: url(../../assets/images/common/icn-24-up-gr.svg) no-repeat;
						background-size: 100%;
					}
				}
			}
			.next-view {
				padding: 47rem 32rem;
				.txt {
					position: relative;
					font-size: 16rem;
					line-height: 24rem;
					padding-left: 32rem;
					color: #666;
					&::after {
						content:  '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 24rem;
						height: 24rem;
						background: url(../../assets/images/common/icn-24-down-gr.svg) no-repeat;
						background-size: 100%;
					}
				}
			}
			a {
				display: block;
				width: calc(100% - 308rem);
				font-size: 18rem;
				line-height: 28rem;
				color: #000;
				padding: 0 12rem;
				&:hover,
				&:active,
				&:focus-visible {
					color: $color-primary;
					text-decoration: underline;
					text-underline-position: under;
				}
			}
			.date {
				font-size: 18rem;
				color: #959595;
				padding: 30rem 38rem;
			}
			&.disabled {
				a {
					color: #959595;
					&:hover,
					&:active,
					&:focus-visible {
						text-decoration: none;
					}
				}
			}
		}
	}
	// 기능별 반응형 대응
	@include media-tablet-xs {
		.board-view {
			.board-view-cont {
				border-top: 1px solid #000;
				.file-area {
					padding: 24rem 16rem;
					border-bottom: 1px solid #EAEAEA;
					.link-item {
						a {
							display: block;
							position: relative;
							font-size: 14rem;
							line-height: 20rem;
							color: #666;
							padding-left: 20rem;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							&::before {
								content: '';
								position: absolute;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								display: inline-block;
								width: 16rem;
								height: 16rem;
								background: url(../../assets/images/common/icn-16-clip-gr.svg) no-repeat;
								background-size: 100%;
							}
							
							&:hover {
								color: $color-primary;
								text-decoration: underline;
							}
						}
						+ .link-item {
							margin-top: 8rem;
						}
					}
				}
				.view-area {
					padding: 40rem 16rem;
					border-bottom: 1px solid #EAEAEA;
					.cont {
						font-size: 14rem;
						line-height: 20rem;
						color: #333;
					}
				}
				.btn-list {
					width: 120rem;
					height: 40rem;
					margin: 24rem auto 40rem;
					a {
						display: block;
						border-radius: 4rem;
						background: $color-primary;
						color: #fff;
						text-align: center;
						line-height: 40rem;
						font-size: 14rem;
						font-weight: 400;
					}
				}
			}
		}
		.board-view-page {
			.pager {
				display: flex;
				align-items: center;
				width: 100%;
				height: 64rem;
				background: #fff;
				.prev-view {
					padding: 22rem 20rem;
					.txt {
						position: relative;
						font-size: 14rem;
						line-height: 20rem;
						padding-left: 20rem;
						color: #666;
						&::after {
							content:  '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 16rem;
							height: 16rem;
							background: url(../../assets/images/common/icn-24-up-gr.svg) no-repeat;
							background-size: 100%;
						}
					}
				}
				.next-view {
					padding: 22rem 20rem;
					.txt {
						position: relative;
						font-size: 14rem;
						line-height: 20rem;
						padding-left: 20rem;
						color: #666;
						&::after {
							content:  '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 16rem;
							height: 16rem;
							background: url(../../assets/images/common/icn-24-down-gr.svg) no-repeat;
							background-size: 100%;
						}
					}
				}
				a {
					display: block;
					width: calc(100% - 96rem);
					font-size: 14rem;
					line-height: 20rem;
					color: #000;
					padding: 0 8rem;
					@include ellipsis1;
				}
				.date {
					display: none;
				}
				&.disabled {
					a {
						color: #959595;
					}
				}
			}
		}
	}
}

/* 회원가입 */
.labels {
	display: flex;
	align-items: flex-start;
	flex-shrink: 0;
	width: 160rem;
	.txt {
		position: relative;
		font-size: 18rem;
		line-height: 28rem;
		&.require {
			&::after {
				content: '*';
				color: $color-primary;
			}
		}
	}
}
.inp-wrap {
	display: flex;
	gap: 8rem;
	flex : 1 0 auto;
	align-items: center;
	.frm-inp {
		flex: 1; 
	}
	.frm-rdo {
		+ .frm-rdo {
			margin-left: 8rem;
		}
	}
	.frm-sel {
		flex: auto;
		&.w300 {
			width: 300rem;
		}
		&.w232 {
			width: 232rem;
		}
	}
	+ .inp-wrap {
		margin-top: 8rem;
	}
	.red-time {
		input {
			font-size: 16rem;
			text-align: right;
			color: $color-primary;
		}
	}
}
.info-inp-wrap {
	display: flex;
	flex-direction: column;
	flex: 1;
	.info-txt {
		margin-top: 8rem;
		font-size: 14rem;
		line-height: 20rem;
		color: #999;
	}
	.error-txt {
		position: relative;
		margin-top: 8rem;
		padding-left: 24rem;
		font-size: 14rem;
		line-height: 20rem;
		color: #F01B1B;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			width: 20rem;
			height: 20rem;
			background: url(../../assets/images/common/icn-20-error-red.svg) no-repeat;
			background-size: 100%;
		}
	}
}
.join-wrap {
	width: 860rem;
	margin: 0 auto;
	.join-form {
		padding: 40rem 60rem 60rem;
		background: linear-gradient(-45deg, transparent 30rem, #fff 0);
		.req {
			text-align: right;
			font-size: 16rem;
			line-height: 24rem;
			margin-bottom: 12rem;
			&::before {
				content: '*';
				color: $color-primary;
			}
		}
		.field-wrap {
			border-top: 1px solid #000;
			.field {
				position: relative;
				display: flex;
				gap: 8rem;
				width: 100%;
				padding: 16rem;
				border-bottom: 1px solid #EAEAEA;
			}
		}
		
		/* 약관동의 */
		.agree-box {
			padding-top: 40rem;
			.frm-chk {
				&.agree {
					margin-bottom: 12rem;
				}
			}
			.text-box-wrap {
				display: block;
				width: 100%;
				height: 160rem;
				border: 1px solid #EAEAEA;
			}
			.text-box {
				width: calc(100% - 16rem);
				height: 144rem;
				padding:  24rem;
				margin: 8rem;
				overflow-y: auto;
				font-size: 14rem;
				line-height: 20rem;
				color: #666;
				.tit {
					font-size: 16rem;
					line-height: 24rem;
					color: #333;
					margin-bottom: 8rem;
				}
				&::-webkit-scrollbar {
					width: 4rem;
				}
				&::-webkit-scrollbar-thumb {
					background: #BEBEBE; /* 스크롤바 색상 */
					border-radius: 4rem; /* 스크롤바 둥근 테두리 */
				}
			}
		}

		/*버튼*/
		.btn-wrap {
			display: flex;
		}
		.join {
			margin: 60rem auto 0;
			width: 360rem;
		}
	}
}

// 기능별 반응형 대응
@include media-tablet-xs {
	.labels {
		display: flex;
		align-items: flex-start;
		flex-shrink: 0;
		width: 100%;
		.txt {
			position: relative;
			font-size: 14rem;
			line-height: 20rem;
			&.require {
				&::after {
					content: '*';
					color: $color-primary;
				}
			}
		}
	}
	.inp-wrap {
		display: flex;
		gap: 4rem;
		flex : 1 0 auto;
		align-items: center;
		.frm-inp {
			flex: 1;
		}
		.frm-rdo {
			+ .frm-rdo {
				margin-left: 8rem;
			}
		}
		.frm-sel {
			flex: auto;
			&.w300 {
				width: 100%;
			}
			&.w232 {
				width: 100%;
			}
		}
		+ .inp-wrap {
			margin-top: 8rem;
		}
		.mo-w100 {
			padding: 10rem 5rem;
			flex-shrink: 0;
		}
		.red-time {
			input {
				font-size: 14rem;
				text-align: right;
				color: $color-primary;
			}
		}
		&.email {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(50%, auto));
			text-align: center;
			.frm-inp:nth-child(2) {
				min-width: 130rem;
			}
			.frm-sel {
				grid-column: 1 / 4;
			}
		}
	}
	.info-inp-wrap {
		display: flex;
		flex-direction: column;
		flex: 1;
		.info-txt {
			margin-top: 4rem;
			font-size: 11rem;
			line-height: 16rem;
			color: #999;
		}
	}

	.join-wrap {
		width: 100%;
		margin: 0 auto;
		
		.join-form {
			padding: 0;
			background: transparent;
			.req {
				text-align: right;
				font-size: 12rem;
				line-height: 16rem;
				margin-bottom: 12rem;
				&::before {
					content: '*';
					color: $color-primary;
				}
			}
			.field-wrap {
				border-top: 1px solid #000;
				.field {
					position: relative;
					display: flex;
					flex-direction: column;
					gap: 8rem;
					width: 100%;
					padding: 16rem 12rem;
					border-bottom: 1px solid #EAEAEA;
					
					
				}
			}
			
			/* 약관동의 */
			.agree-box {
				padding-top: 40rem;
				.frm-chk {
					&.agree {
						margin-bottom: 12rem;
					}
				}
				.text-box-wrap {
					display: block;
					width: 100%;
					height: 160rem;
					border: 1px solid #EAEAEA;
				}
				.text-box {
					width: calc(100% - 16rem);
					height: 144rem;
					padding:  24rem;
					margin: 8rem;
					overflow-y: auto;
					font-size: 14rem;
					line-height: 20rem;
					color: #666;
					.tit {
						font-size: 16rem;
						line-height: 24rem;
						color: #333;
						margin-bottom: 8rem;
					}
					&::-webkit-scrollbar {
						width: 4rem;
					}
					&::-webkit-scrollbar-thumb {
						background: #BEBEBE; /* 스크롤바 색상 */
						border-radius: 4rem; /* 스크롤바 둥근 테두리 */
					}
				}
			}

			/*버튼*/
			.btn-wrap {
				display: flex;
			}
			.join {
				margin: 40rem auto 0;
				width: 100%;
			}
		}
	}
}

/* 로그인 */
.login-form-wrap {
	position: relative;
	width: 520rem;
	margin: 0 auto;
	padding: 60rem 80rem 40rem;
	background: linear-gradient(-45deg, transparent 30rem, #fff 0);
	&.pad-b60 {
		padding-bottom: 60rem;
	}
	.login-form {
		h2 {
			font-size: 28rem;
			line-height: 40rem;
			font-weight: 700;
			color:#000;
			text-align: center;
			margin-bottom: 40rem;
			em {
				color: $color-primary;
			}
		}
		.login-post {
			box-sizing: border-box;
			.login-filed {
				+.login-filed {
					margin-top: 12rem;
				}
			}
			.frm-inp {
				width: 100%;
				+.frm-inp { 
					margin-top: 12rem;
				}
			}
			.btn-basic.login {
				margin-top: 20rem;
			}
		}
		.login-info {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 24rem;
			.item {
				position: relative;
				a {
					font-size: 16rem;
					line-height: 24rem;
					color: #000;
				}
				+.item {
					padding-left: 32rem;
					&::before {
						content: '';
						position: absolute;
						left: 16rem;
						top: 50%;
						transform: translateY(-50%);
						width: 1rem;
						height: 12rem;
						background: #BEBEBE;
					}
				}
			}
		}
		.join-page {
			margin-top: 40rem;
			padding-top: 40rem;
			border-top: 1px solid #EAEAEA;
			a {
				display: block;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					width: 24rem;
					height: 24rem;
					background: url(../../assets/images/common/icn-24-join-arrow-bk.svg) no-repeat;
					background-size: 100%;
				}
				.tit {
					font-size: 20rem;
					line-height: 28rem;
					font-weight: 700;
					color: #000;
				}
				.txt {
					font-size: 14rem;
					line-height: 20rem;
					color:#666;
					margin-top: 12rem;
				}
			}
		}
		.labels {
			margin-bottom: 8rem;
		}
		.login-filed {
			+.login-filed {
				margin-top: 20rem;
			}
			+.btn-basic.login {
				margin-top: 40rem;
			} 
		}
		.btn-basic.black {
			min-width: 120rem;
		}

		/*아이디 찾기 결과*/
		.id-result-wrap {
			display: flex;
			flex-direction: column;
			text-align: center;
			gap: 8rem;
			margin-bottom: 40rem;
			p {
				font-size: 18rem;
				line-height: 28rem;
			}
			div {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			em {
				font-size: 24rem;
				line-height: 36rem;
				font-weight: 700;
				color: $color-primary;
			}
			.btn-copy {
				position: relative;
				font-size: 0;
				width: 24rem;
				height: 24rem;
				margin-left: 8rem;
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 24rem;
					height: 24rem;
					background: url(../../assets/images/common/icn-24-copy-black.svg) no-repeat;
					background-size: 100%;
				}
			}
		}
	}

	// 기능별 반응형 대응
	@include media-tablet-xs {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 60rem 0 80rem;
		background: transparent;
		&.bg {
			background: #fff;
			padding: 24rem 12rem;
		}
		.login-form {
			h2 {
				font-size: 24rem;
				line-height: 36rem;
				font-weight: 700;
				color:#000;
				text-align: center;
				em {
					color: $color-primary;
				}
			}
			.login-post {
				margin-top: 32rem;
				box-sizing: border-box;
				.frm-inp {
					width: 100%;
					+.frm-inp { 
						margin-top: 12rem;
					}
				}
				.btn-basic.login {
					margin-top: 28rem;
				}
			}
			.login-info {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-top: 32rem;
				.item {
					position: relative;
					a {
						font-size: 14rem;
						line-height: 20rem;
						color: #000;
					}
					+.item {
						padding-left: 32rem;
						&::before {
							content: '';
							position: absolute;
							left: 16rem;
							top: 50%;
							transform: translateY(-50%);
							width: 1rem;
							height: 12rem;
							background: #BEBEBE;
						}
					}
				}
			}
			.join-page {
				margin-top: 40rem;
				padding-top: 0;
				border-top: 0;
				a {
					display: block;
					position: relative;
					background: #fff;
					padding: 24rem;
					&::after {
						content: '';
						position: absolute;
						right: 24rem;
						top: 50%;
						transform: translateY(-50%);
						width: 24rem;
						height: 24rem;
						background: url(../../assets/images/common/icn-24-join-arrow-bk.svg) no-repeat;
						background-size: 100%;
					}
					.tit {
						font-size: 16rem;
						line-height: 24rem;
						font-weight: 700;
						color: #000;
					}
					.txt {
						font-size: 12rem;
						line-height: 16rem;
						color:#666;
						margin-top: 4rem;
					}
				}
			}
			.login-filed {
				+.login-filed {
					margin-top: 16rem;
				}
				+.btn-basic.login {
					margin-top: 20rem;
				} 
			}

			/*아이디 찾기 결과*/
			.id-result-wrap {
				display: flex;
				flex-direction: column;
				text-align: center;
				gap: 8rem;
				margin-top: 16rem;
				margin-bottom: 40rem;
				p {
					font-size: 14rem;
					line-height: 20rem;
				}
				div {
					display: flex;
					align-items: center;
					justify-content: center;
				}
				em {
					font-size: 20rem;
					line-height: 28rem;
					font-weight: 700;
					color: $color-primary;
				}
				.btn-copy {
					position: relative;
					font-size: 0;
					width: 24rem;
					height: 24rem;
					margin-left: 8rem;
					&::after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 24rem;
						height: 24rem;
						background: url(../../assets/images/common/icn-24-copy-black.svg) no-repeat;
						background-size: 100%;
					}
				}
				+.btn-basic.h-56 {
					margin-bottom: 20rem;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------
	@@ 팝업명
-------------------------------------------------------------------*/
/* 그룹명 */