@charset "utf-8";
/*-------------------------------------------------------------------
	분류그룹 : 공통 컨텐츠
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
	@@ 게시판
-------------------------------------------------------------------*/
/* 게시판 목록 */
.board-list-wrap {
	.board-toolbar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin-bottom: 24rem;
		.board-count {
			font-weight: 400;
			font-size: 18rem;
			line-height: 28rem;
			em {
				color: $color-primary;
			}
			strong {
				font-weight: 700;
			}
		}
		.board-srch {
			display: flex;
			gap: 8rem;
			margin-left: auto;
			.frm-sel {
				width: 120rem;
			}
			.frm-inp {
				width: 368rem;
			}
		}
	}

	.board-list {
		table {
			table-layout: fixed;
			border-collapse: collapse;
			border-top: 1px solid #000000;
			border-bottom: 1px solid #EAEAEA;

			// 공통
			th, td {
				padding: 12rem 12rem;
				height: 88rem;
				vertical-align: middle;
				text-align: center;
			}
			th {
				font-weight: 500;
				font-size: 18rem;
				line-height: 28rem;
			}
			td {
				border-top: 1px solid #EAEAEA;
				font-size: 18rem;
				line-height: 28rem;
				color: #666666;
			}

			// 컨텐츠
			.tbl-no {
				p.noti {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: rgba(186, 20, 26, 0.08);
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: $color-primary;
				}
			}
			.tbl-case {
				p.accepting {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: rgba(13, 85, 209, 0.08);
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: #0D55D1;
				}
				p.deadline {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: #EAEAEA;
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: #666666;
				}
				p.expected {
					display: inline-flex;
					padding: 4rem 10rem;
					background-color: rgba(217, 30, 139, 0.08);
					border-radius: 4rem;
					font-weight: 700;
					font-size: 16rem;
					line-height: 24rem;
					color: #D91E8B;
				}
			}
			.tbl-tit {
				text-align: left;
				p {
					display: flex;
					justify-content: space-between;
					align-items: center;
					gap: 8rem;
					overflow: hidden;
					width: 100%;

					.link {
						display: block;
						width: auto;
						overflow: hidden;
						font-weight: 500;
						color: #000000;
						@include ellipsis1;
						&:hover,
						&:active,
						&:focus-visible {
							color: $color-primary;
							text-decoration: underline;
							text-underline-position: under;
						}
						.value {
							color: $color-primary;
						}
					}
					.file {
						display: block;
						flex: none;
						width: 20rem;
						height: 20rem;
						background: url('../images/common/icn-20-clip-gr.svg') no-repeat center center / contain;
					}
				}
			}

			.tbl-writer {
				p {
					@include ellipsis1;
				}
			}
			/* 결과없음 */
			.no-list {
				padding: 148rem 0 60rem;
				background: url(../../assets/images/common/icn-80-nolist.svg) no-repeat 50% 60rem;
				background-size: 80rem;
				p {
					font-size: 18rem;
					line-height: 28rem;
					color: #000;
				}
			}
		}
		.gallery-board {
			.gallery-board-list {
				display: grid;
				width: 100%;
				grid-template-columns: repeat(auto-fit, minmax(23%, auto));
				gap: 60rem 28rem;
				li {
					a {
						.img-wrap {
							overflow: hidden;
							width: 100%;
							height: 220rem;
							img {
								object-fit: cover;
								object-position: center center;
								width: 100%;
							}
						}
						.cont-wrap {
							width: 100%;
							height: 148rem;
							padding: 28rem;
							background: #fff;
							.title {
								display: block;
								height: 56rem;
								font-size: 20rem;
								line-height: 28rem;
								font-weight: 700;
								color: #000;
								@include ellipsis2;
							}
							.date {
								display: block;
								font-size: 16rem;
								line-height: 24rem;
								color: #666;
								margin-top: 12rem;
							}
						}
					}
				}
			}
		}
	}

	.board-page {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2rem;
		margin-top: 48rem;

		button {
			@include btn-default;
			flex: none;
			width: 48rem;
			height: 48rem;
			border-radius: 50%;
			transition: all 0.2s ease;
			font-weight: 400;
			font-size: 16rem;
			line-height: 24rem;
			color: #000000;

			&:hover,
			&:active {
				background-color: #EAEAEA;
			}

			&.is-current {
				background-color: $color-primary;
				font-weight: 700;
				color: #fff;
			}

			&.btn-page-first,
			&.btn-page-prev,
			&.btn-page-next,
			&.btn-page-last {
				mask-repeat: no-repeat;
				mask-position: center center;
				mask-size: auto;
				background-color: #000000;
				&:disabled {
					background-color: #BEBEBE;
				}
			}
			&.btn-page-first {
				mask-image: url('../images/common/icn-24-page-first.svg');
			}

			&.btn-page-prev {
				margin-right: 16rem;
				mask-image: url('../images/common/icn-24-page-prev.svg');
			}

			&.btn-page-next {
				margin-left: 16rem;
				mask-image: url('../images/common/icn-24-page-next.svg');
			}

			&.btn-page-last {
				mask-image: url('../images/common/icn-24-page-last.svg');
			}
		}
	}

	// 기능별 반응형 대응
	@include media-tablet-xs {
		.board-toolbar {
			flex-direction: column;
			align-content: flex-start;
			align-items: flex-start;
			margin-bottom: 16rem;
			.board-count {
				order: 2;
				margin-top: 16rem;
				font-size: 14rem;
				line-height: 20rem;
			}
			.board-srch {
				width: 100%;
				order: 1;
				.frm-sel {
					flex: none;
					width: 100rem;
					min-width: 100rem;
				}
				.frm-inp {
					flex: 1 1 auto;
					width: auto;
				}
			}
		}
		.board-list {
			table {
				display: block;
				border-bottom: 0;

				// 공통
				thead {
					display: none;
				}
				tbody {
					display: block;
				}
				tr {
					display: flex;
					flex-wrap: wrap;
					padding: 20rem 8rem;
					border-bottom: 1px solid #EAEAEA;
				}
				th, td {
					display: block;
					max-width: 100%;
					height: auto;
					overflow: hidden;
					padding: 0;
					text-align: left;
				}
				td {
					position: relative;
					border-top: 0;
					font-size: 12rem;
					line-height: 16rem;
					color: #666666;
				}

				// 컨텐츠
				.tbl-no {
					width: 100%;
					p {
						&:not(.noti) {
							display: none;
						}
						&.noti {
							margin-bottom: 8rem;
							padding: 2rem 6rem;
							border-radius: 4rem;
							font-size: 12rem;
							line-height: 16rem;
						}
					}
				}
				.tbl-case {
					margin-bottom: 8rem;
					p.accepting {
						display: inline-flex;
						padding: 2rem 6rem;
						background-color: rgba(13, 85, 209, 0.08);
						border-radius: 4rem;
						font-weight: 700;
						font-size: 10rem;
						line-height: 16rem;
						color: #0D55D1;
					}
					p.deadline {
						display: inline-flex;
						padding: 2rem 6rem;
						background-color: #EAEAEA;
						border-radius: 4rem;
						font-weight: 700;
						font-size: 10rem;
						line-height: 16rem;
						color: #666666;
					}
					p.expected {
						display: inline-flex;
						padding: 2rem 6rem;
						background-color: rgba(217, 30, 139, 0.08);
						border-radius: 4rem;
						font-weight: 700;
						font-size: 10rem;
						line-height: 16rem;
						color: #D91E8B;
					}
				}

				.tbl-tit {
					width: 100%;
					margin-bottom: 4rem;
					text-align: left;
					p {
						gap: 4rem;
						align-items: flex-start;

						.link {
							font-weight: 500;
							font-size: 16rem;
							line-height: 24rem;
							white-space: normal;
							word-break: keep-all;
							word-wrap: break-word;
							@include ellipsis2;
						}
						.file {
							position: relative;
							top: 4rem;
							width: 16rem;
							height: 16rem;
							background: url('../images/common/icn-20-clip-gr.svg') no-repeat center center / contain;
						}
					}
				}

				.tbl-writer {
					max-width: calc(100% - 150rem);

					&,
					& + td {
						margin-right: 9rem;
						padding-right: 11rem; // 점이 위치할 공만만큼 더 주기
					}
					&::after,
					& + td::after {
						content:'';
						position: absolute;
						right: 0;
						top: 7rem;
						display: block;
						width: 2rem;
						height: 2rem;
						border-radius: 50%;
						background-color: #666;
					}
					&:last-child {
						&::after {
							display: none;
						}
					}

					p {
						@include ellipsis1;
					}
				}

				.tbl-views {
					padding-left: 20rem;
					&::before {
						content:'';
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: 16rem;
						height: 16rem;
						background: url('../images/common/icn-16-views-gr.svg') no-repeat center center / contain;
					}
				}

				.no-list {
					padding: 108rem 0 40rem;
					background: url(../../assets/images/common/icn-80-nolist.svg) no-repeat 50% 40rem;
					background-size: 60rem;
					vertical-align: middle;
					text-align: center;
					width: 100%;
					p { 
						font-size: 14rem;
						line-height: 20rem;
						color: #000;
					}
				}
			}
			.gallery-board {
				.gallery-board-list {
					display: grid;
					width: 100%;
					grid-template-columns: repeat(1, 1fr);
					gap: 20rem;
					li {
						a {
							.img-wrap {
								width: 100%;
								height: 220rem;
								img {
									width: 100%;
								}
							}
							.cont-wrap {
								width: 100%;
								height: 120rem;
								padding: 28rem;
								background: #fff;
								.title {
									display: block;
									height: 48rem;
									font-size: 16rem;
									line-height: 24rem;
									font-weight: 700;
									color: #000;
									@include ellipsis2;
								}
								.date {
									display: block;
									font-size: 12rem;
									line-height: 16rem;
									color: #666;
									margin-top: 8rem;
								}
							}
						}
					}
				}
			}
		}
		.board-page {
			margin-top: 32rem;
			button {
				width: 32rem;
				height: 32rem;
				font-size: 14rem;
				line-height: 20rem;
				&.btn-page-first {
					mask-image: url('../images/common/icn-16-page-first.svg');
				}

				&.btn-page-prev {
					mask-image: url('../images/common/icn-16-page-prev.svg');
				}

				&.btn-page-next {
					mask-image: url('../images/common/icn-16-page-next.svg');
				}

				&.btn-page-last {
					mask-image: url('../images/common/icn-16-page-last.svg');
				}
			}
		}
	}
}

/* 게시판 상세 */
.board-view-wrap {
	.board-view {
		.board-view-cont {
			border-top: 1px solid #000;
			.file-area {
				padding: 24rem;
				border-bottom: 1px solid #EAEAEA;
				.link-item {
					a {
						position: relative;
						font-size: 18rem;
						line-height: 28rem;
						color: #666;
						padding-left: 26rem;
						&::before {
							content: '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							display: inline-block;
							width: 20rem;
							height: 20rem;
							background: url(../../assets/images/common/icn-16-clip-gr.svg) no-repeat;
							background-size: 100%;
						}
						&:hover {
							color: $color-primary;
							text-decoration: underline;
						}
						+ .link-item {
							margin-top: 8rem;
						}
					}
				}
			}
			.view-area {
				padding: 64rem 24rem;
				border-bottom: 1px solid #EAEAEA;
				.cont {
					font-size: 18rem;
					line-height: 28rem;
					color: #333;
				}
			}
			.btn-list {
				width: 160rem;
				height: 48rem;
				margin: 32rem auto 60rem;
				a {
					display: block;
					border-radius: 4rem;
					background: $color-primary;
					color: #fff;
					text-align: center;
					line-height: 48rem;
					font-size: 14rem;
					font-weight: 700;
				}
			}
		}
	}
	.board-view-page {
		.pager {
			display: flex;
			align-items: center;
			width: 100%;
			height: 88rem;
			background: #fff;
			.prev-view {
				padding: 47rem 32rem;
				.txt {
					position: relative;
					font-size: 16rem;
					line-height: 24rem;
					padding-left: 32rem;
					color: #666;
					&::after {
						content:  '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 24rem;
						height: 24rem;
						background: url(../../assets/images/common/icn-24-up-gr.svg) no-repeat;
						background-size: 100%;
					}
				}
			}
			.next-view {
				padding: 47rem 32rem;
				.txt {
					position: relative;
					font-size: 16rem;
					line-height: 24rem;
					padding-left: 32rem;
					color: #666;
					&::after {
						content:  '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 24rem;
						height: 24rem;
						background: url(../../assets/images/common/icn-24-down-gr.svg) no-repeat;
						background-size: 100%;
					}
				}
			}
			a {
				display: block;
				width: calc(100% - 308rem);
				font-size: 18rem;
				line-height: 28rem;
				color: #000;
				padding: 0 12rem;
				&:hover,
				&:active,
				&:focus-visible {
					color: $color-primary;
					text-decoration: underline;
					text-underline-position: under;
				}
			}
			.date {
				font-size: 18rem;
				color: #959595;
				padding: 30rem 38rem;
			}
			&.disabled {
				a {
					color: #959595;
					&:hover,
					&:active,
					&:focus-visible {
						text-decoration: none;
					}
				}
			}
		}
	}
	// 기능별 반응형 대응
	@include media-tablet-xs {
		.board-view {
			.board-view-cont {
				border-top: 1px solid #000;
				.file-area {
					padding: 24rem 16rem;
					border-bottom: 1px solid #EAEAEA;
					.link-item {
						a {
							display: block;
							position: relative;
							font-size: 14rem;
							line-height: 20rem;
							color: #666;
							padding-left: 20rem;
							overflow: hidden;
							white-space: nowrap;
							text-overflow: ellipsis;
							&::before {
								content: '';
								position: absolute;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								display: inline-block;
								width: 16rem;
								height: 16rem;
								background: url(../../assets/images/common/icn-16-clip-gr.svg) no-repeat;
								background-size: 100%;
							}
							
							&:hover {
								color: $color-primary;
								text-decoration: underline;
							}
						}
						+ .link-item {
							margin-top: 8rem;
						}
					}
				}
				.view-area {
					padding: 40rem 16rem;
					border-bottom: 1px solid #EAEAEA;
					.cont {
						font-size: 14rem;
						line-height: 20rem;
						color: #333;
					}
				}
				.btn-list {
					width: 120rem;
					height: 40rem;
					margin: 24rem auto 40rem;
					a {
						display: block;
						border-radius: 4rem;
						background: $color-primary;
						color: #fff;
						text-align: center;
						line-height: 40rem;
						font-size: 14rem;
						font-weight: 400;
					}
				}
			}
		}
		.board-view-page {
			.pager {
				display: flex;
				align-items: center;
				width: 100%;
				height: 64rem;
				background: #fff;
				.prev-view {
					padding: 22rem 20rem;
					.txt {
						position: relative;
						font-size: 14rem;
						line-height: 20rem;
						padding-left: 20rem;
						color: #666;
						&::after {
							content:  '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 16rem;
							height: 16rem;
							background: url(../../assets/images/common/icn-24-up-gr.svg) no-repeat;
							background-size: 100%;
						}
					}
				}
				.next-view {
					padding: 22rem 20rem;
					.txt {
						position: relative;
						font-size: 14rem;
						line-height: 20rem;
						padding-left: 20rem;
						color: #666;
						&::after {
							content:  '';
							position: absolute;
							left: 0;
							top: 50%;
							transform: translateY(-50%);
							width: 16rem;
							height: 16rem;
							background: url(../../assets/images/common/icn-24-down-gr.svg) no-repeat;
							background-size: 100%;
						}
					}
				}
				a {
					display: block;
					width: calc(100% - 96rem);
					font-size: 14rem;
					line-height: 20rem;
					color: #000;
					padding: 0 8rem;
					@include ellipsis1;
				}
				.date {
					display: none;
				}
				&.disabled {
					a {
						color: #959595;
					}
				}
			}
		}
	}
}

/* 회원가입 */
.join-wrap {
	width: 860rem;
	margin: 0 auto;
	.join-form {
		padding: 40rem 60rem 60rem;
		background: linear-gradient(-45deg, transparent 30rem, #fff 0);
		.req {
			text-align: right;
			font-size: 16rem;
			line-height: 24rem;
			margin-bottom: 12rem;
			&::before {
				content: '*';
				color: $color-primary;
			}
		}
		.field-wrap {
			border-top: 1px solid #000;
			.field {
				position: relative;
				display: flex;
				gap: 8rem;
				width: 100%;
				padding: 16rem;
				border-bottom: 1px solid #EAEAEA;
				
				.labels {
					display: flex;
					align-items: center;
					flex-shrink: 0;
					width: 160rem;
					height: 48rem;
					.txt {
						position: relative;
						font-size: 18rem;
						line-height: 28rem;
						&.require {
							&::after {
								content: '*';
								color: $color-primary;
							}
						}
					}
				}
				.inp-wrap {
					display: flex;
					gap: 8rem;
					flex : 1 0 auto;
					.frm-inp {
						flex: 1;
						&.h-48 {
							height: 48rem;
						}
					}
				}
				.info-inp-wrap {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}

/*-------------------------------------------------------------------
	@@ 팝업명
-------------------------------------------------------------------*/
/* 그룹명 */