@charset 'utf-8';
/*-------------------------------------------------------------------
	분류그룹 : 레이아웃
	속성순서 : 레이아웃, 크기간격, 박스모양, 글자모양, 문단모양, 기타모양
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------
	@@ 공통
-------------------------------------------------------------------*/
// Default
body,
html {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	min-width: 320px;
}

.wrapper,
.container,
.content,
.content-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-basis: auto;
}

.header,
.footer,
.content-header,
.content-footer {
	flex: none;
}

// Common
.out-sec {
	@include out-sec;
}

.in-sec {
	@include in-sec;
}

.header-skip {
	position: fixed;
	left: 0;
	z-index: 900;
	bottom: 100%;
	width: 100%;

	a {
		display: block;
		width: 100%;
		text-align: center;
		line-height: 50rem;
		font-size: 18rem;
		color: #fff;
		transform: translateY(0%);
		background-color: rgba(0, 0, 0, 0.75);

		&:focus-visible {
			text-decoration: underline;
			text-underline-position: under;
			transform: translateY(100%);
			transition: all 0.2s ease;
		}
	}
}

// Header
.header {}

// Footer
.footer {}